<% content_for :menu do %>
  <ul class="sidebar-nav">
    <li>
      <a href="/home">Home</a>
    </li>
    <li class="sidebar-brand">
      <a href="/features">Feature Requests</a>
    </li>
  </ul>
<% end %>

