@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color-main: #F05F40;
$color-text: #333;
$color-text-lighter: #555;

.input-group-addon {
  cursor: pointer;
}

.form-group {
  padding-right: 10px;

  button {
    margin-right: 10px;
    min-width: 100px;
  }
}

.modal {
  text-align: left;

  .modal-title {
    color: $color-main;
    float: left;
  }

  .vertical-alignment-helper {
    display: table;
    height: 100%;
    width: 100%;
    pointer-events: none; /* This makes sure that we can still click outside of the modal to close it */
  }

  .vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
    pointer-events:none;

    .modal-content {
      /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
      width:inherit;
      height:inherit;
      /* To center horizontally */
      margin: 0 auto;
      pointer-events: all;
    }
  }
}

.fa-spinner {
  color: $color-text;
  font-size: 2em;
}

em {
  color: $color-text-lighter;
}

.alert {
  h2 { font-size: 1.1em; font-weight: bold }
  text-align: left;
}